:root {
  --color-primary: #ff7b02;
  /* GREEN THEME */
  --color-primary: #ff7b02;
  --color-primary-variant: #ff7b02;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #127341;
  --color-bg-4: #003347;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

* {
  margin: 0rem;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Silkscreen';
  background: var(--color-bg-3);
  color: var(--color-white);
  line-height: 1.7; 
}

.h1__banner {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-white);
  position: fixed;
  transition: var(--transition);
  filter: blur(0.333px);
  letter-spacing: -16px;
}

.h1__banner:hover {
  font-size: 7.77rem;
  color: var(--color-white);
  position: fixed;
  -webkit-filter: blur(4px);
  filter: blur(16px);
  width: 100%;
  z-index: 0;
}

a {
  color: var(--color-primary);
  transition: var(--transition); 
}

.clink:hover {
  background-color: hotpink;
  -webkit-filter: blur(4px);
  filter: blur(1px);
  width: 91%;
  z-index: 0;
}

.clink-rj {
  text-align: right;
}

a:hover {
  color: wheat;
  z-index:3;
  -webkit-filter: blur(4px);
  filter: blur(1px);
  width: 91%;
}

.logo__container:hover {
  -webkit-filter: blur(4px);
  filter: blur(1px);
  width: 91%;
  z-index: 0;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

.h1__banner {
  margin-top: 30px;
  margin-left: 154px;
  font-size: 665.99%;
  font-weight: 100;
  color: var(--color-white);
}

.break__space_10 {
  margin-top: 10rem;
}

.break__space {
  margin-top: 36rem;
}

.container__footer {
  z-index: 99;
}

.footer1 {
  margin-top: -4.9rem;
  margin-left: 2.33rem;
  font-family:'Robot Mono', monospace ;
  font-size: 19;
  z-index: 99;
  font-weight: 100;
  opacity: 90%;
  filter: blur(.5px);
  position: absolute;
  z-index: 99;
  bottom: 8px;
}

.footer1:hover {
  margin-left: 2.33rem;
  font-family:'Robot Mono', monospace ;
  font-size: 19;
  z-index: 99;
  font-weight: 100;
  opacity: 10%;
  filter: blur(.5px);
}

/* ============ NAV BAR STYLING ============ */

.nav__bar:hover {
  z-index: 200;
}

.nav__1 {
  height: 9rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  font-family:'Robot Mono', monospace ;
  z-index: 0;
}

.nav__2 {
  height: 9rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 7rem;
  left: 0;
  font-family:'Robot Mono', monospace;
}

.dropdown {
  z-index: 200;
}
.dropdown:hover {
  z-index: 200;
}

.nav__container {
  padding-left: 40px; 
  width: 20vw;
  gap: 3.4vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: transparent;
}

.nav__container a:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.10);
  background-color: hotpink;
  -webkit-filter: blur(4px);
  filter: blur(1px);
}

/* FOR MOBILE (TABLETS AND PHONES) */
.nav__toggle-btn {
  display: none;
}

.nav__logo {
  width: 1rem;
  z-index: 11;
}

.nav__links {
  display: flex;
  gap: 10em;
  margin-left: flex;
  /* z-index: 0; */
}

.nav__socials {
  display: relative;
  gap: 3rem;
}

.nav__socials a {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0.5rem;
  color: var(--color-bg-4);
  display: grid;
  place-items: center;
}

.nav__socials a:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.10);
  color: var(--color-primary);
  -webkit-filter: blur(4px);
  filter: blur(1px);
  z-index: 0;
}

/* ============ ABOUT SECTION =============== */

.about {
  margin-top: 10.4rem;
}

.about__image-lg {
  margin-top: 19px;
  margin-left: 3.6rem;
  padding-bottom: 3rem;
  justify-content: left;
  position: absolute;
  z-index: 100;
  opacity: 89%;
  display: grid;
}

.responsive {
  width: 100%;
  height: auto;
}

.img__cest__moi:hover {
  -webkit-filter: blur(4px);
  filter: blur(7.9px);
  z-index: 100;
  opacity: 100%;
}

.about__image__bottom__right {
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-family:'Robot Mono', monospace;
}
.about__image__bottom__right:hover {
  position: absolute;
  font-family:'Robot Mono', monospace;
  color: wheat;
  background-color: hotpink;
  -webkit-filter: blur(2px);
  filter: blur(1px);
  z-index: 3;
}

.about__p {
  font-family:'Robot Mono', monospace;
  text-rendering: geometricPrecision;
  position: absolute;
  color: var(--color-bg-1);
  justify-content: left;
  width: 48%;
  opacity: 90%;
  overflow: visible;
  margin-top: 4.4rem;
  margin-left: 5.6rem;
  padding: 1.33rem;
  z-index: 199;
}

.about__p:hover {
  background-color: #a8ebc3;
  -webkit-filter: drop-shadow(2px 2px 2px rgb(15, 15, 15));
  filter: drop-shadow(1px 1px 1px rgb(15, 15, 15));
  -webkit-filter: blur(2.25px);
  filter: blur(0.33px);
  opacity: 88%;
  z-index: 199;
}

.container__countup {
  margin-top: 144px;
  z-index:-1;
  font-size: 7rem;
  place-items: center;
  margin-left: 2rem;
  position: fixed;
  opacity: 81%;
  filter: blur(0.333px);
}


/* =========== DROPDOWN WORK MENU =========== */

/* Dropdown Button */
.dropbtn {
  font-family:'Robot Mono', monospace ;
  font-size: 16px;
  z-index: 299;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropbtn {
    background-color: #127341;
    opacity: 100%;
    color: #ff7b02;
    z-index: 299;
  }
  
  .dropbtn:hover {
    color: wheat;
    background-color: hotpink;
    width: 110%;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.10);
    -webkit-filter: blur(4px);
    filter: blur(1px);
    z-index: 299;
  }
  
  .dropdown {
    color: wheat;
    position: relative;
    display: inline-block;
    z-index: 299;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 299;
  }
  
  /* Links inside the dropdown */
    .dropdown-content a {
    padding: 12px 8px;
    display: block;  
    z-index: 299;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 299;
  }